:root{
    --cor-fundo: black;
    --cor-principal: #A9A9A9;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    transform: translateX(-100%);
    transition: transform 400ms linear;
    
}
.menu_open{
    transform: translateX(0);
    background-color: #fff;
    opacity: 90%;
    width: 100%;
    
}

.btnMenu{
    display: block;
    background-repeat: no-repeat;
    text-indent: -9999px;
    padding: 30px 15px;
    background-position: 15px center;
    
}

.btnMenu_open{
    display: flex;
    background-image: url(./img/hamburguinhovermelhosemfundo.png);
    
}

.btnMenu_close{
    background-color: rgb(197, 193, 243);
    background-image: url(./img/hamburguinhobranco.png);
    cursor: pointer;
}
.menu-item{
    padding: 20px 15px;
    border-bottom: 1px solid rgba(196, 192, 192, 0.8);
}

.menu-item-action{
    color: rgb(73, 70, 70);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

nav{
    position: static;
}